@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{
    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}

        <div class="container-fluid">

            <div class="row mainside">

                <div class="col-12">

                    <div class="mainarea">

                        <h1> توسعه برند شما با پلتفرم های مختلف و پشتیبانی در کدتایم </h1>

                        <h2> مجرب ترین طراحان و توسعه دهندگان در کدتایم </h2>

                    </div>

                    <span class="elem01 elem07"></span>

                    <span class="elem01 elem06"></span>

                    <span class="elem01 elem05"></span>

                </div>

                <div class="row">

                    <div class="col-12">

                        <div class="container">

                            <div class="row boxsarea">
        
                                <div class="col-12">
        
                                    <div class="">
                
                                        <div class="row justify-content-center">
                
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                
                                                <div class="mainboxs">
                
                                                    <div class="mainbox-back">
                
                                                       <svg class="svg-inline--fa fa-heart fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa-thin" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.1 62.86C438.8 41.92 408.9 32 378.7 32c-37.49 0-75.33 15.4-103 43.98l-19.7 20.27l-19.7-20.27C208.6 47.4 170.8 32 133.3 32C103.1 32 73.23 41.92 49.04 62.86C-13.1 116.7-16.21 212.5 39.81 270.5l193.2 199.7C239.4 476.7 247.6 480 255.9 480c8.336 0 16.69-3.269 23.01-9.804l193.1-199.7C528.2 212.5 525.1 116.6 462.1 62.86zM460.6 259.4l-193.1 199.7C264.4 462.3 260.3 464 255.1 464c-4.336 0-8.414-1.75-11.49-4.93l-193.1-199.7c-23.93-24.77-36.76-59.07-35.2-94.13c1.578-35.36 16.98-67.43 43.39-90.28C79.89 57.32 105.4 48 133.3 48c34.13 0 67.49 14.23 91.54 39.05l31.18 32.19L287.2 87.05C311.2 62.23 344.6 48 378.7 48c27.89 0 53.4 9.32 73.77 26.96c26.41 22.86 41.82 54.93 43.37 90.29C497.4 200.3 484.6 234.6 460.6 259.4z"></path></svg> 
                
                                                    </div>
                
                                                    <div class="mainbox-des">
                
                                                        <h4> ایرانی پسند </h4>
                
                                                    </div>
                
                                                </div>
                
                                            </div>
                
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                
                                                <div class="mainboxs">
                
                                                    <div class="mainbox-back">
                
                                                       <svg class="svg-inline--fa fa-lock-keyhole fa-w-14" aria-hidden="true" focusable="false" data-prefix="fa-thin" data-icon="lock-keyhole" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M384 223.1l-32 0V127.1c0-70.58-57.41-127.1-128-127.1s-128 57.42-128 127.1v95.1L64 223.1c-35.35 0-64 28.66-64 64v160c0 35.34 28.65 64 64 64h320c35.35 0 64-28.66 64-64v-160C448 252.7 419.3 223.1 384 223.1zM112 127.1c0-61.75 50.25-112 112-112s112 50.25 112 112v96h-224V127.1zM432 447.1c0 26.47-21.53 48-48 48H64c-26.47 0-48-21.53-48-48v-160c0-26.47 21.53-47.1 48-47.1h320c26.47 0 48 21.53 48 47.1V447.1zM224 319.1c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32s32-14.33 32-32v-32C256 334.3 241.7 319.1 224 319.1zM240 383.1c0 8.824-7.178 16-16 16s-16-7.176-16-16v-32c0-8.824 7.178-16 16-16s16 7.176 16 16V383.1z"></path></svg>
                
                                                    </div>
                
                                                    <div class="mainbox-des">
                
                                                        <h4> تضمین امنیت </h4>
                
                                                    </div>
                
                                                </div>
                
                                            </div>

                                            <div class="d-none d-sm-block col-sm-4 col-md-3 col-lg-2 col-xl-2">
                
                                                <div class="mainboxs">
                
                                                    <div class="mainbox-back">
                
                                                       <svg class="svg-inline--fa fa-cubes fa-w-18" aria-hidden="true" focusable="false" data-prefix="fa-thin" data-icon="cubes" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M560.1 266l-128.1-50.17V70.14c0-9.625-5.781-18.08-14.72-21.53l-120.9-47.01C293.7 .5312 290.8 0 288 0S282.3 .5312 279.6 1.594L158.7 48.61c-8.969 3.453-14.75 11.91-14.75 21.53v145.7L15.02 266C5.891 269.6-.0001 278.2-.0001 287.1v153.3c0 9.687 5.812 18.28 14.78 21.86l114.7 46.01C134.2 511 139.2 512 144.3 512c4.844 0 9.688-.875 14.41-2.656l129.3-52.7l129.3 52.7C422 511.1 426.9 512 431.7 512c5.062 0 10.06-.9687 14.81-2.875l114.7-46.01c8.969-3.578 14.78-12.17 14.78-21.86V287.1C575.1 278.2 570.1 269.6 560.1 266zM415.1 216.8c0 .9023-.4434 1.652-.7539 2.455l-119.2 46.37V118.2l120-46.67V216.8zM285.5 16.5C285.5 16.5 285.4 16.5 285.5 16.5C286.2 16.17 287.1 16.02 287.1 16.02s1.75 .1562 2.562 .4844l111.4 43.3L287.1 104.1L174.1 59.8L285.5 16.5zM159.1 71.49l120 46.67v147.5L160.8 219.2c-.3105-.8027-.7539-1.553-.7539-2.455V71.49zM135.1 494.4c-.1914-.0703-.4023-.041-.5938-.1172l-114.7-46.01C17.86 447.1 15.1 444.4 15.1 441.3V291.9l120 49.4V494.4zM144.1 327.4L26.16 278.8l121.8-47.39l121.4 47.21L144.1 327.4zM152.8 494.5c-.2734 .1015-.5684 .0566-.8438 .1484v-153.1l128-49.78v150.9L152.8 494.5zM423.1 494.6c-.2754-.0918-.5703-.0469-.8438-.1484l-127.2-51.83V291.7l128 49.78V494.6zM306.6 278.7l121.4-47.21l121.8 47.39l-117.9 48.56L306.6 278.7zM559.1 441.3c0 3.109-1.859 5.859-4.734 7.015l-114.7 46.01c-.1914 .0762-.4023 .0469-.5938 .1172v-153l120-49.4V441.3z"></path></svg>
                
                                                    </div>
                
                                                    <div class="mainbox-des">
                
                                                        <h4> کیفیت برتر </h4>
                
                                                    </div>
                
                                                </div>
                
                                            </div>
                
                                            <div class="d-none d-md-block col-md-3 col-lg-2 col-xl-2">
                
                                                <div class="mainboxs">
                
                                                    <div class="mainbox-back">
                
                                                       <svg class="svg-inline--fa fa-sack-dollar fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa-thin" data-icon="sack-dollar" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M181.5 84.69C184.1 88.25 189.1 89 192.7 86.5c3.578-2.594 4.391-7.594 1.797-11.19L160.8 28.69c-1.797-2.5-2.047-5.594-.6406-8.344C161.6 17.62 164.2 16 167.3 16h177.4c3.078 0 5.734 1.625 7.125 4.344c1.406 2.75 1.156 5.844-.6406 8.344l-33.67 46.63c-2.594 3.594-1.781 8.594 1.797 11.19C320.7 87.5 322.4 88 324 88c2.469 0 4.922-1.156 6.484-3.312l33.67-46.63c5.312-7.344 6.047-16.94 1.922-25S353.8 0 344.7 0H167.3C158.2 0 150 5 145.9 13.06s-3.391 17.66 1.922 25L181.5 84.69zM332.2 120h19.85c4.422 0 8-3.594 8-8s-3.578-8-8-8H159.1c-4.422 0-8 3.594-8 8s3.578 8 8 8h19.75c-189.1 119.2-179.7 272.2-179.7 292c0 55.25 49.14 100 109.6 100h292.5c60.62 0 109.7-44.75 109.7-100C511.9 392.6 520.2 238.6 332.2 120zM495.9 412c0 46.32-42.06 84-93.75 84h-292.5c-51.62 0-93.62-37.68-93.62-84l-.0313-3.043C13.61 245.5 146.5 162.4 208.2 120h95.6c64.05 44.07 194.2 125.7 192.2 289.4L495.9 412zM257.1 312.2L249.6 309.1C213.7 300.3 196.3 291 200.7 267.6c4.656-24.88 38.84-31.36 70.47-26.8c8.156 1.172 17.84 3.594 30.41 7.609c4.188 1.312 8.719-.9687 10.06-5.188s-1-8.719-5.188-10.06C293 228.9 282.5 226.3 273.5 224.1c-3.289-.4727-6.33-.6377-9.49-.9014c0-.041 0 .041 0 0l.084-32.05c0-4.422-3.562-8-8-8.016c-4.406 0-8 3.578-8 7.984L248 223.7C213.6 224.8 189.7 239.5 184.9 264.7C177 306.9 219.8 318.5 245.4 325.4l8.5 2.266c39 10.3 62.34 18.45 57.41 44.7c-4.656 24.86-38.59 31.38-70.53 26.8c-12.62-1.75-27.09-6.562-39.84-10.81L194.5 386.2c-4.312-1.375-8.719 .9375-10.09 5.125s.9062 8.719 5.094 10.09l6.375 2.094c13.41 4.469 28.62 9.531 42.66 11.48c3.354 .4824 6.314 .585 9.523 .8506c-.0039 .1035 0-.1035 0 0l.0078 32.13c0 4.406 3.594 7.984 8 7.984c4.438-.0156 8-3.594 8-8.016L264 416.5c34.44-1.047 58.33-15.93 63.06-41.13C335.1 332.6 292.3 321.3 257.1 312.2z"></path></svg>
                
                                                    </div>
                
                                                    <div class="mainbox-des">
                
                                                        <h4> هزینه بصرفه </h4>
                
                                                    </div>
                
                                                </div>
                
                                            </div>
                                            
                
                                            <div class="d-none d-md-block col-md-3 col-lg-2 col-xl-2">
                
                                                <div class="mainboxs">
                
                                                    <div class="mainbox-back">
                
                                                       <svg class="svg-inline--fa fa-rocket-launch fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa-thin" data-icon="rocket-launch" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M102.4 320c-47.1 0-100.4 39.38-102.2 160L0 512h31.1c171.6-3.375 184.9-115.3 133.7-166.6C150.9 330.4 127.2 320 102.4 320zM171.2 432.8c-15.58 38.55-66.42 61.48-139.5 62.92L24.75 496H16l.123-15.75C17.53 389.9 49.77 336 102.4 336c19.46 0 39.39 7.908 52.03 20.66C174.9 377.3 181.5 407.2 171.2 432.8zM505.1 19.25c-1.125-5.375-6.1-11.25-12.37-12.37C460.6 0 435.4 0 410.4 0C307.2 0 245.4 55.25 199.1 128H94.92C78.67 128 59.3 139.9 52.05 154.5L2.65 253.2C1.15 256.6 .225 260.3 .1 264c0 13.25 10.8 24 24.05 24h103.9c52.1 0 95.99 43 95.99 96l-.0125 104c0 13.25 10.75 24 23.1 24c3.75-.125 7.375-.925 10.75-2.55l98.69-49.38c14.62-7.25 26.5-26.58 26.5-42.83V312.8c72.62-46.25 127.1-108.4 127.1-211C512.1 76.5 512.1 51.37 505.1 19.25zM123.4 272H24.25c-4.41 0-7.998-3.588-8.006-7.467c.0527-1.609 .4336-3.219 .8184-4.129l49.4-98.8C70.94 152.6 84.81 144 94.99 144h95.54C171.2 176.2 153.7 210.2 137.3 243.8C132.7 253.3 128.1 262.7 123.4 272zM367.1 417.3c0 10.3-8.391 23.85-17.66 28.44l-98.4 49.27C250.6 495.6 249.1 495.1 248.1 496c-4.41 0-7.998-3.588-7.998-8v-99.45c8.881-4.406 17.83-8.799 26.92-13.21c33.92-16.55 68.31-34.19 100.9-53.89V417.3zM260 360.9c-7.168 3.502-14.16 6.959-21.2 10.42C232.9 319.8 192.3 279.1 140.7 273.3c3.682-7.459 7.359-14.89 11.05-22.46C219.9 110.1 274.5 16 410.5 16c24.9 0 48.43 0 78.05 6.244c.2754 .1504 .7402 .4834 .9043 .4834c.0527 0 .0156 .1016 0 0c6.746 30.96 6.656 55.32 6.539 79.02C495.1 230.1 412.9 286.4 260 360.9zM367.1 88c-30.87 0-55.1 25.12-55.1 56c0 31 25.12 56 55.1 56c30.1 0 55.1-25 55.1-56C423.1 113.1 398.1 88 367.1 88zM368 184c-22.05 0-40.06-17.94-40.06-40s17.94-40 39.1-40s39.1 17.94 39.1 40S390.1 184 368 184z"></path></svg>
                
                                                    </div>
                
                                                    <div class="mainbox-des">
                
                                                        <h4> پردازش سریع </h4>
                
                                                    </div>
                
                                                </div>
                
                                            </div>

                                            <div class="d-none d-md-block col-md-3 col-lg-2 col-xl-2">
                
                                                <div class="mainboxs">
                
                                                    <div class="mainbox-back">
                
                                                       <svg class="svg-inline--fa fa-rabbit fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa-thin" data-icon="rabbit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M351.1 207.1c8.838 0 16-7.164 16-16s-7.162-16-16-16s-16 7.164-16 16S343.2 207.1 351.1 207.1zM476.3 475.9l-92.31-142.1V279.5h.5938c26.16 0 49.31-14.38 59-36.61c12.25-28.08 3.75-59.91-20.69-77.42L378.1 134.2c6.719-12.47 12.5-27.47 16.59-43.03c10.53-39.33 11.78-84.44-10.44-90.56c-3.312-.8906-8.469-1.156-14.75 2.438c-13.59 7.844-27.88 32.17-37.25 63.14c-9.406-30.94-23.66-55.31-37.25-63.14c-6.281-3.594-11.47-3.328-14.78-2.438c-22.22 6.125-20.97 51.23-10.44 90.53c5.812 21.89 14.31 41.45 23.78 54.98c-10.99 12.58-14.47 28.71-14.47 41.16v60.78h-5.438c-79 0-148.5 51.6-172.1 126.6c-12.22-3.984-25.28-3.328-37.56 1.938c-16.28 7-28.44 21.94-31.78 38.98c-3.219 16.36 .9062 33.02 11.34 45.67c14.06 17.13 37.63 24.41 59.31 16.74C116.3 498.9 138.9 512 163.4 512h138.8c12.94 0 23.44-10.5 23.44-23.42c0-26.78-21.78-48.58-48.56-48.58h-13.59c-4-35.95-34.56-64-71.56-64c-4.406 0-8 3.578-8 8s3.594 8 8 8c30.88 0 56 25.12 56 56c0 4.422 3.594 8 8 8h21.16c17.97 0 32.56 14.61 32.56 32.58c0 4.094-3.344 7.422-7.438 7.422H163.4c-20.88 0-40-12.42-48.78-31.66c-.9062-1.984-2.594-3.518-4.656-4.236c-2.062-.75-4.344-.5469-6.281 .4375c-17.06 8.768-35.91 3.861-46.94-9.516c-7.377-8.953-10.28-20.77-8.002-32.42c2.344-11.94 10.94-22.42 22.41-27.38c13.75-5.891 25.34-2.562 32.69 1.297c2.125 1.141 4.719 1.234 6.969 .2656c2.25-.9844 3.906-2.938 4.531-5.312c18.94-72.69 84.41-123.5 159.2-123.5h13.44c4.406 0 8-3.58 8-8.002V187.2c0-3.729 .291-22.3 14.31-34.39c3.281-2.859 3.688-7.844 .875-11.19c-9.656-11.48-19-31.91-25.06-54.69c-11.53-43.06-5.688-69.61-.7813-70.97c.125 0 1.062 0 2.562 .8594c9.156 5.281 23.09 27.95 31.97 61.08c2.438 8.984 4.219 18.11 5.344 27.11c.5 3.984 3.875 7 7.906 7.016c4 0 7.438-2.969 7.969-6.938c1.219-9.062 3-18.25 5.312-27.2c8.877-33.1 22.81-55.77 32-61.06c1.438-.8281 2.281-1.016 2.531-.8594c4.938 1.359 10.75 27.91-.8125 71.02c-4.531 17.23-11.22 33.53-18.84 45.89c-1.219 1.969-1.5 4.359-.8438 6.578c.6797 2.182-5.42-3.029 53.16 39c18.22 13.08 24.53 36.92 15.31 58.03c-7.125 16.41-24.53 27-44.31 27h-8.594c-4.406 0-8 3.578-8 8v63.8c0 1.547 .4375 3.047 1.281 4.344l93.56 144.9c2.094 3.359 .8438 6.438 .1875 7.594C462.4 493.3 460.4 496 456.5 496H420.2c-2.562 0-4.969-1.359-6.375-3.531l-71.03-112.7c-1.219-1.922-3.219-3.25-5.438-3.625c-2.469-.4062-4.562 .2031-6.344 1.641l-40 32c-3.438 2.766-4 7.797-1.25 11.25c2.781 3.453 7.844 4.016 11.25 1.25l33-26.41l66.31 105.2C404.7 507.9 412.2 512 420.2 512h36.38c8.5 0 16.34-4.656 20.47-12.14C481.2 492.3 480.1 483.3 476.3 475.9z"></path></svg>
                
                                                    </div>
                
                                                    <div class="mainbox-des">
                
                                                        <h4> تحویل سریع </h4>
                
                                                    </div>
                
                                                </div>
                
                                            </div>
        
                                        </div>
                
                                    </div>
                
                                </div>
        
                            </div>
        
                        </div>

                    </div>

                </div>
           

            </div>

        </div>

        <div class="container">

            <div class="row howboxsarea">
    
               <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xxl-5 infoboxbut">
    
               <div class="howarea">
    
                <h5> چرا کدتایم؟ </h5>
    
                <span> دلایلی که مشتریان میگویند. </span>
    
               </div>
    
               </div>
    
              <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xxl-7">
    
                <div class="row justify-content-between">
    
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xxl-6">
        
                        <div class="infobox">
        
                         <svg class="svg-inline--fa fa-heart fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa-thin" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.1 62.86C438.8 41.92 408.9 32 378.7 32c-37.49 0-75.33 15.4-103 43.98l-19.7 20.27l-19.7-20.27C208.6 47.4 170.8 32 133.3 32C103.1 32 73.23 41.92 49.04 62.86C-13.1 116.7-16.21 212.5 39.81 270.5l193.2 199.7C239.4 476.7 247.6 480 255.9 480c8.336 0 16.69-3.269 23.01-9.804l193.1-199.7C528.2 212.5 525.1 116.6 462.1 62.86zM460.6 259.4l-193.1 199.7C264.4 462.3 260.3 464 255.1 464c-4.336 0-8.414-1.75-11.49-4.93l-193.1-199.7c-23.93-24.77-36.76-59.07-35.2-94.13c1.578-35.36 16.98-67.43 43.39-90.28C79.89 57.32 105.4 48 133.3 48c34.13 0 67.49 14.23 91.54 39.05l31.18 32.19L287.2 87.05C311.2 62.23 344.6 48 378.7 48c27.89 0 53.4 9.32 73.77 26.96c26.41 22.86 41.82 54.93 43.37 90.29C497.4 200.3 484.6 234.6 460.6 259.4z"></path></svg>
        
                            <h4> ایرانی پسند </h4>
        
                            <p> اصالت سایت ایرانی ، هنگام پسند کاربر معلوم میشود. </p>
        
                        </div>
        
                    </div>
        
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xxl-6">
        
                        <div class="infobox">
        
                         <svg class="svg-inline--fa fa-lock-keyhole fa-w-14" aria-hidden="true" focusable="false" data-prefix="fa-thin" data-icon="lock-keyhole" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M384 223.1l-32 0V127.1c0-70.58-57.41-127.1-128-127.1s-128 57.42-128 127.1v95.1L64 223.1c-35.35 0-64 28.66-64 64v160c0 35.34 28.65 64 64 64h320c35.35 0 64-28.66 64-64v-160C448 252.7 419.3 223.1 384 223.1zM112 127.1c0-61.75 50.25-112 112-112s112 50.25 112 112v96h-224V127.1zM432 447.1c0 26.47-21.53 48-48 48H64c-26.47 0-48-21.53-48-48v-160c0-26.47 21.53-47.1 48-47.1h320c26.47 0 48 21.53 48 47.1V447.1zM224 319.1c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32s32-14.33 32-32v-32C256 334.3 241.7 319.1 224 319.1zM240 383.1c0 8.824-7.178 16-16 16s-16-7.176-16-16v-32c0-8.824 7.178-16 16-16s16 7.176 16 16V383.1z"></path></svg>
        
                            <h4> تضمین امنیت </h4>
        
                            <p> توسعه اصولی و تمیز نشانه امنیت بالاتر است. </p>
        
                        </div>
        
                    </div>
    
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xxl-6">
        
                        <div class="infobox">
        
                         <svg class="svg-inline--fa fa-cubes fa-w-18" aria-hidden="true" focusable="false" data-prefix="fa-thin" data-icon="cubes" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M560.1 266l-128.1-50.17V70.14c0-9.625-5.781-18.08-14.72-21.53l-120.9-47.01C293.7 .5312 290.8 0 288 0S282.3 .5312 279.6 1.594L158.7 48.61c-8.969 3.453-14.75 11.91-14.75 21.53v145.7L15.02 266C5.891 269.6-.0001 278.2-.0001 287.1v153.3c0 9.687 5.812 18.28 14.78 21.86l114.7 46.01C134.2 511 139.2 512 144.3 512c4.844 0 9.688-.875 14.41-2.656l129.3-52.7l129.3 52.7C422 511.1 426.9 512 431.7 512c5.062 0 10.06-.9687 14.81-2.875l114.7-46.01c8.969-3.578 14.78-12.17 14.78-21.86V287.1C575.1 278.2 570.1 269.6 560.1 266zM415.1 216.8c0 .9023-.4434 1.652-.7539 2.455l-119.2 46.37V118.2l120-46.67V216.8zM285.5 16.5C285.5 16.5 285.4 16.5 285.5 16.5C286.2 16.17 287.1 16.02 287.1 16.02s1.75 .1562 2.562 .4844l111.4 43.3L287.1 104.1L174.1 59.8L285.5 16.5zM159.1 71.49l120 46.67v147.5L160.8 219.2c-.3105-.8027-.7539-1.553-.7539-2.455V71.49zM135.1 494.4c-.1914-.0703-.4023-.041-.5938-.1172l-114.7-46.01C17.86 447.1 15.1 444.4 15.1 441.3V291.9l120 49.4V494.4zM144.1 327.4L26.16 278.8l121.8-47.39l121.4 47.21L144.1 327.4zM152.8 494.5c-.2734 .1015-.5684 .0566-.8438 .1484v-153.1l128-49.78v150.9L152.8 494.5zM423.1 494.6c-.2754-.0918-.5703-.0469-.8438-.1484l-127.2-51.83V291.7l128 49.78V494.6zM306.6 278.7l121.4-47.21l121.8 47.39l-117.9 48.56L306.6 278.7zM559.1 441.3c0 3.109-1.859 5.859-4.734 7.015l-114.7 46.01c-.1914 .0762-.4023 .0469-.5938 .1172v-153l120-49.4V441.3z"></path></svg>
        
                            <h4>  کیفیت برتر </h4>
        
                            <p> طراحی زیبا و توسعه اصولی نشان از کیفیت کار است. </p>
        
                        </div>
        
                    </div>
    
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xxl-6">
        
                        <div class="infobox">
        
                         <svg class="svg-inline--fa fa-sack-dollar fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa-thin" data-icon="sack-dollar" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M181.5 84.69C184.1 88.25 189.1 89 192.7 86.5c3.578-2.594 4.391-7.594 1.797-11.19L160.8 28.69c-1.797-2.5-2.047-5.594-.6406-8.344C161.6 17.62 164.2 16 167.3 16h177.4c3.078 0 5.734 1.625 7.125 4.344c1.406 2.75 1.156 5.844-.6406 8.344l-33.67 46.63c-2.594 3.594-1.781 8.594 1.797 11.19C320.7 87.5 322.4 88 324 88c2.469 0 4.922-1.156 6.484-3.312l33.67-46.63c5.312-7.344 6.047-16.94 1.922-25S353.8 0 344.7 0H167.3C158.2 0 150 5 145.9 13.06s-3.391 17.66 1.922 25L181.5 84.69zM332.2 120h19.85c4.422 0 8-3.594 8-8s-3.578-8-8-8H159.1c-4.422 0-8 3.594-8 8s3.578 8 8 8h19.75c-189.1 119.2-179.7 272.2-179.7 292c0 55.25 49.14 100 109.6 100h292.5c60.62 0 109.7-44.75 109.7-100C511.9 392.6 520.2 238.6 332.2 120zM495.9 412c0 46.32-42.06 84-93.75 84h-292.5c-51.62 0-93.62-37.68-93.62-84l-.0313-3.043C13.61 245.5 146.5 162.4 208.2 120h95.6c64.05 44.07 194.2 125.7 192.2 289.4L495.9 412zM257.1 312.2L249.6 309.1C213.7 300.3 196.3 291 200.7 267.6c4.656-24.88 38.84-31.36 70.47-26.8c8.156 1.172 17.84 3.594 30.41 7.609c4.188 1.312 8.719-.9687 10.06-5.188s-1-8.719-5.188-10.06C293 228.9 282.5 226.3 273.5 224.1c-3.289-.4727-6.33-.6377-9.49-.9014c0-.041 0 .041 0 0l.084-32.05c0-4.422-3.562-8-8-8.016c-4.406 0-8 3.578-8 7.984L248 223.7C213.6 224.8 189.7 239.5 184.9 264.7C177 306.9 219.8 318.5 245.4 325.4l8.5 2.266c39 10.3 62.34 18.45 57.41 44.7c-4.656 24.86-38.59 31.38-70.53 26.8c-12.62-1.75-27.09-6.562-39.84-10.81L194.5 386.2c-4.312-1.375-8.719 .9375-10.09 5.125s.9062 8.719 5.094 10.09l6.375 2.094c13.41 4.469 28.62 9.531 42.66 11.48c3.354 .4824 6.314 .585 9.523 .8506c-.0039 .1035 0-.1035 0 0l.0078 32.13c0 4.406 3.594 7.984 8 7.984c4.438-.0156 8-3.594 8-8.016L264 416.5c34.44-1.047 58.33-15.93 63.06-41.13C335.1 332.6 292.3 321.3 257.1 312.2z"></path></svg>
        
                            <h4> هزینه بصرفه </h4>
        
                            <p> با کمترین هزینه ، برترین خدمات را دریافت کنید. </p>
        
                        </div>
        
                    </div>
                    
        
                  </div>
    
              </div>
    
            </div>
    
    
        </div>

        <div class="container-fluid">

            <div class="row ordersback">

                <div class="col-12">

                    <div class="container">

                        <div class="row justify-content-center">

                            <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">

                                <div class="orderbox">
                                    
                                    <div class="ordernaem">

                                        <h5> پلن مبتدی </h5>

                                        <p> از 2 تا 10 میلیون تومان </p>

                                        <hr style="background-image: linear-gradient(to right,transparent, rgb(0 0 0 / 15%), transparent);display: block;margin: 20px 0;border: 0;margin-top: 16px;height: 1px;margin-bottom: 19px;">


                                    </div>

                                    <div class="orderlite">

                                        <ul>

                                            <li> <p> راه اندازی </p> <span> رایگان </span> </li>

                                            <li> <p> پشتیبانی </p> <span> رایگان </span> </li>
                                   
                                            <li> <p> قابل توسعه </p> <span> رایگان </span> </li>

                                            <li> <p> طرح واکنش گرا </p> <span> رایگان </span> </li>

                                            <li> <p> سیستم پیامک </p> <span> سفارشی </span> </li>

                                            <li> <p> مدیریت محتوا </p> <span> سفارشی </span> </li>

                                            <li> <p> مدیریت کاربران </p> <span> سفارشی </span> </li>

                                            <li> <p> مدیریت پرسنل </p> <span> سفارشی </span> </li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                            <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">

                                <div class="orderbox">
                                    
                                    <div class="ordernaem">

                                        <h5> پلن حرفه ای </h5>

                                        <p> از 12  تا 30 میلیون تومان </p>

                                        <hr style="background-image: linear-gradient(to right,transparent, rgb(0 0 0 / 15%), transparent);display: block;margin: 20px 0;border: 0;margin-top: 16px;height: 1px;margin-bottom: 19px;">


                                    </div>

                                    <div class="orderlite">

                                        <ul>

                                            <li> <p> راه اندازی </p> <span> رایگان </span> </li>

                                            <li> <p> پشتیبانی </p> <span> رایگان </span> </li>
                                   
                                            <li> <p> قابل توسعه </p> <span> رایگان </span> </li>

                                            <li> <p> طرح واکنش گرا </p> <span> رایگان </span> </li>

                                            <li> <p> سیستم پیامک </p> <span> رایگان </span> </li>

                                            <li> <p> مدیریت محتوا </p> <span> رایگان </span> </li>

                                            <li> <p> مدیریت کاربران </p> <span> سفارشی </span> </li>

                                            <li> <p> مدیریت پرسنل </p> <span> سفارشی </span> </li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                            <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">

                                <div class="orderbox">
                                    
                                    <div class="ordernaem">

                                        <h5> پلن ممتاز </h5>

                                        <p> از 33  تا 80 میلیون تومان </p>

                                        <hr style="background-image: linear-gradient(to right,transparent, rgb(0 0 0 / 15%), transparent);display: block;margin: 20px 0;border: 0;margin-top: 16px;height: 1px;margin-bottom: 19px;">


                                    </div>

                                    <div class="orderlite">

                                        <ul>

                                            <li> <p> راه اندازی </p> <span> رایگان </span> </li>

                                            <li> <p> پشتیبانی </p> <span> رایگان </span> </li>
                                   
                                            <li> <p> قابل توسعه </p> <span> رایگان </span> </li>

                                            <li> <p> طرح واکنش گرا </p> <span> رایگان </span> </li>

                                            <li> <p> سیستم پیامک </p> <span> رایگان </span> </li>

                                            <li> <p> مدیریت محتوا </p> <span> رایگان </span> </li>

                                            <li> <p> مدیریت کاربران </p> <span> رایگان </span> </li>

                                            <li> <p> مدیریت پرسنل </p> <span> رایگان </span> </li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="container">

            <div class="row webshelp">

                <div class="col-12 d-md-block d-lg-none">

                    <div class="helpimgtop">
   
                       <img src="/images/webs.webp" alt="" srcset="" title="دیگر نیاز نیست نگران وب سایت خود باشید!">
   
                    </div>
   
                   </div>
                
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-7">

                    <div class="helptitle">

                        <h5> دیگر نیاز نیست نگران وب سایت خود باشید! </h5>

                        <p> به کسب و کار ، رزومه ، فروشگاه و یا به شرکت خود رنگ دیگری دهید ، با وب سایت زیبا و قدرتمند مشتری های خودرا افزایش دهید ، بازدید داشته باشید و به روند پیشرفت کسب و کار خود کمک کنید. </p>

                    </div>

                    <div class="helplist">

                        <ul>

                            <li> <i class="fa-thin fa-check"></i> <p> تضمین امنیت از طرف کدتایم </p> </li>

                            <li> <i class="fa-thin fa-check"></i> <p> تضمین کمترین هزینه </p> </li>

                            <li> <i class="fa-thin fa-check"></i> <p> تضمین برترین کیفیت </p> </li>

                            <li> <i class="fa-thin fa-check"></i> <p> تضمین بازگشت وجه </p> </li>

                        </ul>

                    </div>

                </div>

                <div class=" d-none d-lg-block col-lg-4 col-xl-5">

                 <div class="helpimg">

                    <img src="/images/webs.webp" alt="" srcset="" title="دیگر نیاز نیست نگران وب سایت خود باشید!">

                 </div>

                </div>

            </div>

        </div>

        <div class="container-fluid">

            <div class="row priviewarea">

                <div class="col-12">

                    <div class="container">

                        <div class="row prearow">
    
                            <div class="d-none d-lg-block col-lg-6 col-xl-6">
                
                                <div class="preimg">

                                    <img src="/images/faq.webp" alt="" title="FAQ's">

                                </div>
              
                                
                            </div>

                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">

                                <div class="faq-boxs">

                                    <label for="check-id-1">
                                        <div class="faq-btn"> <p> آیا سایت های طراحی شده در آینده قابل تغییر هستند ؟ </p> <i id="" class="fal fa-chevron-down tog-sll"></i></div>
                                    </label>
    
                                    <input type="checkbox" id="check-id-1" hidden>
                                    <div class="content content-id-1">
                                      <div class="inner">
                                        <p> بله ، تمامی وب سایت هایی که توسط مجموعه کدتایم طراحی و توسعه داده شده است به گونه ای برنامه نویسی شده است که قابل ویرایش و ارتقاع میباشند. </p>
                                      </div>
                                    </div>

                                </div>

                                <div class="faq-boxs">

                                    <label for="check-id-2">
                                        <div class="faq-btn"> <p> آیا سایت من بعد از طراحی شامل پشتیبانی می شود ؟ </p> <i id="" class="fal fa-chevron-down tog-sll"></i></div>
                                    </label>
    
                                    <input type="checkbox" id="check-id-2" hidden>
                                    <div class="content content-id-2">
                                      <div class="inner">
                                        <p> بله ، تمامی وب سایت هایی که توسط مجموعه کدتایم طراحی و توسعه داده شده اند تا 8 ماه بصورت رایگان پشتیبانی میشوند و تمامی موارد از سوی مجموعه برطرف میشود. </p>
                                      </div>
                                    </div>

                                </div>           

                                <div class="faq-boxs">

                                    <label for="check-id-4">
                                        <div class="faq-btn"> <p> هزینه طراحی و توسعه سایت چگونه است ؟ </p> <i id="" class="fal fa-chevron-down tog-sll"></i></div>
                                    </label>
    
                                    <input type="checkbox" id="check-id-4" hidden>
                                    <div class="content content-id-4">
                                      <div class="inner">
                                        <p> وب سایت هایی که توسط مجموعه کدتایم طراحی و توسعه داده میشوند بر اساس اخرین تکنولوژی های روز دنیا بوده و هزینه ها بر اساس خواست شما برآورد میشود </p>
                                      </div>
                                    </div>

                                </div>

                                
                                <div class="faq-boxs">

                                    <label for="check-id-3">
                                        <div class="faq-btn"> <p> آیا مشاوره قبل سفارش هزینه ای دارد ؟ </p> <i id="" class="fal fa-chevron-down tog-sll"></i></div>
                                    </label>
    
                                    <input type="checkbox" id="check-id-3" hidden>
                                    <div class="content content-id-3">
                                      <div class="inner">
                                        <p> خیر ، مشاوره مجموعه کدتایم کاملا رایگان میباشد که میتوانید با تماس با شماره پشتیبانی یا درخواست مشاوره با کارشناسان ما در تماس باشید و مشاوره رایگان دریافت کنید. </p>
                                      </div>
                                    </div>

                                </div>

                                <div class="faq-boxs">

                                    <label for="check-id-5">
                                        <div class="faq-btn"> <p> وب سایت داینامیک چیست ؟ </p> <i id="" class="fal fa-chevron-down tog-sll"></i></div>
                                    </label>
    
                                    <input type="checkbox" id="check-id-5" hidden>
                                    <div class="content content-id-5">
                                      <div class="inner">
                                        <p> زمانی که وب  سایتی بصورت داینامیک طراحی میشود مدیر وب سایت میتواند بدون دانش برنامه نویسی مطالب و بخش هایی از وب سایت را بصورت دلخواه شخصی سازی کند. </p>
                                      </div>
                                    </div>

                                </div>


                                

                            </div>
    
                        </div>
    
                    </div>

                </div>

            </div>

        </div>

        <div class="container">

           <div class="row">

            <div class="col-12">

                <div class="elemen-title">

                    <h5> کدتایم محدود به یک زبان نیست </h5>
    
                    <p> کدتایم با استفاده از چندین زبان ، کتابخانه ، سیستم تولیدمحتوا و انواع سیستم های مدیریت پایگاه داده برترین خدمات را بر اساس نیاز شما ارئه میدهد. </p>
    
                </div>  

            </div>

           </div>


         <div class="row lang-logos-area">

            <div class="col-12">

                <div class="row justify-content-center elemen-img">

                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/html.webp" alt="" srcset="" title="HTML 5">
        
                    </div>
        
                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/css.webp" alt="" srcset="" title="CSS 3">
        
                    </div>

                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/sass.webp" alt="" srcset="" title="sass">
        
                    </div>     
        
                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/js.webp" alt="" srcset="" title="JavaScript">
        
                    </div>

                   </div>

                   <div class="row justify-content-center elemen-img">

                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/joomla.webp" alt="" srcset="" title="joomla">
        
                    </div> 

                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/wordpress.webp" alt="" srcset="" title="wordpress">
        
                    </div> 

                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/mysal.webp" alt="" srcset="" title="mysal">
        
                    </div>
        
                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/sqlserver.webp" alt="" srcset="" title="SQL Server">
        
                    </div>
        

                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/mongodb.webp" alt="" srcset="" title="Mongodb">
        
                    </div>                     
                       
        
                   </div>
        
                   <div class="row justify-content-center elemen-img">
        
                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/react.webp" alt="" srcset="" title="React JS">
        
                    </div>
        
                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/vue.webp" alt="" srcset="" title="vue js">
        
                    </div>

                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/nodejs.webp" alt="" srcset="" title="Node JS">
        
                    </div>

                    <div class="d-none d-lg-block col-lg-1 col-xl-1">
        
                        <img src="/images/bootstrap.webp" alt="" srcset="" title="Bootstrap v5.x">
        
                    </div>  

                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/php.webp" alt="" srcset="" title="PHP">
        
                    </div> 
        
                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/laravel.webp" alt="" srcset="" title="Laravel">
        
                    </div>
                    
                    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
        
                        <img src="/images/asp.webp" alt="" srcset="" title="ASP.NET Core V6">
        
                    </div>       
        
                   </div>

                  

            </div>

         </div>

        </div>

        <div class="container-fluid d-none d-sm-block">

            <div class="row helpingarea justify-content-between">

                <div class="col-5 col-xs-9 col-sm-9 col-md-7 col-lg-5 col-xl-5 col-xxl-5">

                    <div class="purpleimg">

                        <img src="/images/purple-circle-description.svg" alt="" srcset="">
    
                    </div>

                </div>
                    
                <div class="col-3 col-xs-7 col-sm-7 col-md-5 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="redimag">
    
                        <img src="/images/red-circle-description.svg" alt="" srcset="">
    
                    </div>

                  </div>

                 <div class="helping_marg">

                        <div class="row align-items-center justify-content-center helping_box">
                            
                                <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center">
        
                                    <div class="img_help_box">

                                        <img src="/images/nigga.webp" alt="">

                                    </div>
                                
                                </div>

                                <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">
        
                                    <div class="title_help_box">

                                        <h5> سوالی دارید؟! </h5>

                                    </div>

                                    <div class="desc_help_box">

                                        <p> با کارشناسان ما در ۷ روز هفته بصورت ۲۴ ساعته حتی در روزهای تعطیل در ارتباط باشید. </p>

                                    </div>

                                    <div class="btn_help_box">

                        <button onclick="$('#AddEmail').modal('show');"> درخواست مشاوره </button>  <p> 0923 123 1984 </p>

                                    </div>
                                
                                </div>
    
                      </div>

                 </div>

            </div>

        </div>


@section Scripts{
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>

    <script>
        function Srequest(){
            const phone = document.getElementById("Uphone").value;

            var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
            if (!phone.match(phoneno)){
                Notification("لطفا شماره تلفن خود را بدرستی وارد کنید", false);
                return false;
            }
            var Data = new FormData();
            Data.append("phone", phone);

            $.ajax({
                type: "POST",
                url: "/home/savephone",
                contentType: false,
                processData: false,
                data: Data,
                success: function (data) {
                    if (data == true) {
                        Notification("درخواست شما ثبت شد. همکاران ما در اولین فرصت با شما تماس خواهند گرفت", "success")
                        $('#AddEmail').modal('hide');
                    }
                    else {
                        Notification("مشکلی پیش امده لطفا دوباره سعی کنید", false)
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    </script>
}

@section Modals{
    <div class="modal fade" id="AddEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="exampleModalLongTitle">Send To Email</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                        <form id="Details">
                            <fieldset class="form-group">
                                <label for="basicInput">شماره تلفن</label>
                                <input type="tel" class="form-control" id="Uphone" placeholder="شماره تلفن خود را وارد کنید" required>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-bs-dismiss="modal">لغو</a>
                    <a class="btn btn-primary" data-bs-dismiss="modal" onclick="Srequest()">ثبت</a>
                </div>
            </div>
        </div>
    </div>
}
