<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <!-- designer : CodeTime -->
    <!-- theme Name : Codetime -->
    <!-- Bootstrap CSS -->
    <meta charset='utf-8'>
    <meta property="og:site_name" content="codetime-team.ir" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="کدتایم بهترین مرجع ساخت سایت/تارنما در ایران" />
    <meta name="description" content="کدتایم مرکز طراحی انواع وبسایت های حرفه ای فروشگاهی و پنل های تبلیغاتی همراه با پشتیبانی 24 ساعته در هر روز هفته " />
    <meta name="keywords" content="کدتایم,طراحی,سایت,طراحی سایت,تارنما,خرید سایت,سفارش سایت فروشگاهی,پشتیبانی,طراحی سایت تبریز,خرید فروشگاه اینترنتی,تارنمای ایرانی,اقتصادی,وردپرس," />
    <meta name="Bestbetkeywords" content="طراحی سایت,خرید سایت,سفارش,تارنما,وبسایت,تیم طراحی سایت," />

    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link rel="stylesheet" href="css/style.css">
    <link rel="apple-touch-icon" href="images/title.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/logo/codetime.png">
    <title> طراحی سایت با برترین کیفیت و پشتیبانی در کدتایم </title>

    @await RenderSectionAsync("Header",required:false)
    <!---start GOFTINO code--->
    <script type="text/javascript">
        !function () { var i = "EvK7Vh", a = window, d = document; function g() { var g = d.createElement("script"), s = "https://www.goftino.com/widget/" + i, l = localStorage.getItem("goftino_" + i); g.async = !0, g.src = l ? s + "?o=" + l : s; d.getElementsByTagName("head")[0].appendChild(g); } "complete" === d.readyState ? g() : a.attachEvent ? a.attachEvent("onload", g) : a.addEventListener("load", g, !1); }();
    </script>
    <!---end GOFTINO code--->

</head>

<body>
    <!-- <header>

      <div class="row">

        <div class="col-12">

         <div class="mobile-menu">

             <div class="row">

                 <div class="col-12">

                     <div class="menu-content">

                       <div class="row">

                       <div class="col-12">

                         <div class="mo-img">

                             <img src="/images/Logo.png" alt="" srcset="">

                             <p> مجموعه ای از برترین کیفیت و پشتیبانی </p>


                         </div>

                       </div>

                         <div class="col-12">

                             <div class="menu-dasharea">

                             <ul>

                               <li>

                                   <div class="mo-boxs">

                                       <label for="check-mo">
                                           <div class="mo-btn"> <p> خدمات </p> <i class="fal fa-chevron-down tog-sll"></i></div>
                                       </label>

                                       <input type="checkbox" id="check-mo" hidden>
                                       <div class="mo-content content-mo">
                                         <div class="inner">
                                          <nav>
                                           <ul>

                                               <li> <a href="/blogs/چرا-باید-وب-سایت-داشته-باشیم؟/"> <p> وب سایت شرکتی </p> <span> مناسب برای مجموعه ها </span> </a> </li>

                                               <li> <a href="/blogs/وردپرس-چیست؟-همه-چیز-درمورد-وردپرس/"> <p> وب سایت وردپرسی </p> <span> مناسب برای مجلات </span> </a> </li>

                                               <li> <a href="/blogs/چرا-باید-وب-سایت-داشته-باشیم؟/"> <p> وب سایت فروشگاهی </p> <span> مناسب برای فروشگاه </span> </a> </li>

                                               <li> <a href="/blogs/وب-سایت-بازی-وب-سایت-گیم-سرور"> <p> وب سایت گیم سرور </p> <span> مناسب برای سرور های بازی </span> </a> </li>

                                               <li> <a href="/blogs/چرا-باید-وب-سایت-داشته-باشیم؟/"> <p> وب سایت اختصاصی </p> <span> طراحی و توسعه بر اساس سفارش مشتری </span> </a> </li>

                                           </ul>
                                           </nav>
                                         </div>
                                       </div>

                                   </div>


                               </li>

                               <li> <a href="/contact#consultation"> مشاوره </a> </li>

                               <li> <a href="/work-samples"> نمونه کار ها </a> </li>
                               <li> <a href="/blogs"> وبلاگ </a> </li>

                               <li> <a href="/contact"> تماس با ما </a> </li>

                             </ul>


                         </div>

                         </div>


                         <div class="d-flex align-items-end mo-login">

                             <button onclick="navigator.clipboard.writeText('09198445861')">   CodeTime <i class="fa-thin fa-headset"></i> </button>

                           </div>

                       </div>


                   </div>

                 </div>

             </div>

         </div>

        </div>

        </div>

    </header>
       -->



    <a href="/contact"><svg class="svg-inline--fa fa-headset fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa-light" data-icon="headset" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M191.1 224c0-17.62-14.37-32.04-32-32.04l-32.01 0c-35.38 0-64 28.62-64 63.1L63.96 319.6c0 35.38 28.63 64 64.01 64h32c17.63 0 32-14.38 32-32L191.1 224zM159.1 351.6h-32c-17.63 0-32-14.38-32-32V256c0-17.62 14.38-32 32-32l32.02-.0001L159.1 351.6zM383.1 383.6c35.38 0 64.01-28.62 64.01-64l.0026-63.63c0-35.38-28.62-63.1-64-63.1l-31.1 0c-17.63 0-32 14.42-32 32.04l-.0105 127.6c0 17.62 14.38 32 32 32H383.1zM351.1 224l31.1 .0001c17.63 0 32 14.38 32 32V319.6c0 17.62-14.38 32-32 32h-32L351.1 224zM280.2 1.131c-153.5-14.29-276.2 108.1-280.2 254.9l-.0206 15.92C-.0459 280.8 7.155 288 16 288c8.755 0 15.96-7.162 16-15.92l.0838-16.08C35.52 128.6 142.5 20.63 276.9 32.96c116.3 10.68 203.1 112.3 203.1 229.1v169.1c0 26.51-21.49 48-48 48h-83.01c4.081-10.88 4.609-23.54-2.282-36.69c-9.093-17.35-28.04-27.31-47.62-27.31L241.8 416c-23.21 0-44.49 15.69-48.87 38.49C187 485.2 210.4 512 239.1 512l191.1 .0001c44.19 0 80.01-35.82 80.01-79.1V262.9C512 129.6 412.9 13.49 280.2 1.131zM303.1 480H239.1c-8.876 0-16-7.125-16-16s7.126-16 16-16h64.01c8.876 0 16 7.125 16 16S312.9 480 303.1 480z"></path></svg></a>


    <div class="container-fluid">


        <div class="row">

            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="titlearea col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                        </div>
                        <div style="direction: rtl;text-align: right;vertical-align: bottom;" class="d-nonecol-md-6 col-lg-7 col-xl-7 col-xxl-7">
                            <ul>
                                <li> <a href="#idonja"> مشاوره </a> </li>
                                <li> <a href="#idonja"> نمونه کار ها </a> </li>
                                <li style="margin: 0px 40px;"> <a href=""><h2 style="font-weight: bold;">کد تایم</h2></a> </li>
                                <li> <a href="#idonja"> وبلاگ </a> </li>
                                <li> <a href="#idonja"> تماس با ما </a> </li>

                            </ul>
                        </div>



                    </div>

                    <div class="menu-icon">
                        <span class="bar"></span>
                    </div>

                </div>

            </div>
        </div>

    </div>

    @RenderBody()

    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    @await Component.InvokeAsync("GetFooter")
    <script src="~/js/anime.min.js"></script>
    <div id="alertList">
    </div>


    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!-- fontawesome -->
    <script src="~/js/all.min.js"></script>
    <!-- Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- other JS  -->
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- start Schemas -->
    @await RenderSectionAsync("Schemas", required: false)
    <!-- end Schemas -->
    @RenderSection("Modals", false)

</body>
</html>